
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.env

*.db
*.sqlite3

alembic/versions/*.pyc

*.log

.vscode/

Thumbs.db
desktop.ini

.pytest_cache/
.coverage
htmlcov/

.mypy_cache/
.pyre/
.ruff_cache/

build/
dist/
*.egg-info/


.ipynb_checkpoints/